.tipsy {
  position: absolute;
  z-index: 100000;
}

.tipsy-default {
  font-size: 10px;
  padding: 5px;
}

.tipsy-default-inner {
  background-color: #000;
  color: #FFF;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
  border-radius: 3px;
}

.tipsy-default.shadow .tipsy-default-inner {
  box-shadow: 0 0 5px #000000;
}

.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000;
}

.tipsy-n .tipsy-arrow,
.tipsy-nw .tipsy-arrow,
.tipsy-ne .tipsy-arrow { border-bottom-color: #000; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-s .tipsy-arrow,
.tipsy-sw .tipsy-arrow,
.tipsy-se .tipsy-arrow { border-top-color: #000; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { border-left-color: #000; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { border-right-color: #000; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; }
